.user-appointment-modal {
  min-width: 363px;
}

.user-appointment-modal__header {
  padding: 16px 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
}

.user-appointment-modal__header__left {
  display: flex;
}

.user-appointment-modal__header__left .user-card__avatar {
  width: 56px;
  height: 56px;
}

.user-appointment-modal__header__left .user-card__info {
  margin-left: 9px;
}

.user-appointment-modal__content {
  padding: 4px 15px 7px 77px;
  background-color: #F9F9F9;
  max-height: 510px;
  overflow: auto;
}

.user-appointment-modal__header__right .close-btn {
  cursor: pointer;
}
