.users__header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 9px 25px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

.users__list {
  margin-top: 60px;
  padding: 31px 25px;
  min-height: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(230px), 1fr));
  grid-gap: 1rem;
}